<div id="<%= dom_id auction %>">
  <p>
    <strong>Start:</strong>
    <%= auction.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= auction.end %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= auction.target %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= auction.item_id %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= auction.item_name %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= auction.customer_id %>
  </p>

  <p>
    <strong>Invoice ids:</strong>
    <%= auction.invoice_ids %>
  </p>

</div>
